# 忽略的文件夹
__pycache__/
.ipynb_checkpoints/
/out/
/venv/
/libs/
/data/
/#/
/build/

# 忽略的文件类型
*.pyc
*.zip
*.cfg
*.psd
*.cdxml
*.cub
*.mod
*.7z
*.spec

# 忽略的具体文件
config.json
log.txt
test.*
dist
pywfn.egg-info
*T.txt
*M.txt
protos/**/*.png
examples/*.py
target/