[project]
name="pywfn"
version="0.1.0"
description="A Python library for working with wavefunctions"
authors=[{name="Xiaofei Shi", email="xiaofei911@gmial.com"}]
readme="README.md"
[build-system]
requires = ["setuptools>=42", "wheel", "numpy","rich"]
build-backend = "setuptools.build_meta"
[project.scripts]
pywfn = "pywfn.__init__:main"